<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="QuickMaths" Language="1033" Version="1.0.0.0" Manufacturer="Kelvin Tsui" UpgradeCode="54afd539-fcac-4d42-b0d8-69e20bdad093">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="QuickMaths" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="QuickMaths" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="QuickMaths.exe" Guid="0FCAE72C-893E-4DB4-A0DE-6A1F8F333088" >
        <File Id="QuickMaths.exe" Name="QuickMaths.exe" Source="$(var.ExampleDesktop.TargetDir)ExampleDesktop.exe"></File>
      </Component>
			<Component Id="Calculation_dll">
        <File Id="Calculation_dll" Name="Calculation.dll" Source="$(var.Calculation.TargetDir)Calculation.dll"></File>
      </Component>
    <Component Id="Evaluator_dll">
        <File Id="Evaluator_dll" Name="Evaluator.dll" Source="$(var.Evaluator.TargetDir)Evaluator.dll"></File>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
